.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section {
  position: relative;
}

.bg1 {
  width: 100vw;
  height: 96vh;
  object-fit: cover;
}

.section h1, p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}